:root {
	--navbar:#dcdcf5;
	--beige: #f5f5dc;
	--black: #000000;
	--white: #ffffff;
	--logo-1:#ee7ab4;
	--logo-2:#0dbbd5;
	--logo-3:#7cdbb8;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	display: flex;
	justify-content: center;
	padding: 5rem;
}	

h2{
	display: flex;
	justify-content: center;
	padding: 5rem;
}

	
body {
	color: var(--black);
	line-height: 1.6;
	background-image: linear-gradient(180deg,var(--white),var(--beige),var(--logo-1),var(--white));	
	height: 100%;
}

header {
	position:relative;
	width: 100%;
	margin: -3% 0;
	background-color: var(--logo-3);
	box-shadow: 0px 0px 5px #777;
}
a.logo {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.3rem;
}

img{
	width: 200px;
}

.column > img{
	height: 400px;
	width: 400px;
	margin: 10px;
	border-radius: 200px;
}

.column > p{
	margin:5px;
	text-align: center;
	font-weight: bold;
}
a.logo {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.3rem;
}

a.menu {
	display: block;
	color: var(--black);
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.5rem 1rem;
}

.row{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
}


/* By default when we are first loading page, don't display menu */
nav.navbar {
	display: none;
}

/* When navbar has the class open, display the menu items */
nav.navbar.open {
	display: block;
}

ul.navbar-list li {
	list-style: none;
}

a.logo,
ul.navbar-list li a {
	text-decoration: none;
	color: var(--black);
	padding: 0.8rem 1rem;
	display: block; 
	/* default is inline element, display:block makes <a> to be width: 100% */
}

ul.navbar-list li a:hover {
	background-color: var(--white);
	font: bold;
}

ul.navbar-list li a:active {
	background-color: var(--white);
	font: bold;
}

.mainpage {
	border: 5px solid var(--black);
	padding: 0 40px 80px;
	margin: 200px;
	background-color:var(--white);
  }
.mainpage, .damz_video 
>p{
	font-size: 1.5em;
}

.damz_video{
	display: flex;
	flex-direction: column;
	border: 5px solid #063c5e;
	padding: 0 40px 80px;
	margin: 200px;
	background-color: #fff;
  }

video{
	display:flex;
	border: 1px solid var(--black);
	position: center;
	margin: 120px;
}




@media screen and (min-width: 768px) {
	header {
		display: flex;
	}

	a.menu {
		display: none;
	}

	/* Need to add line so that navbar displays again even if it doesn't have the open class */
	nav.navbar {
		display: block;
	}

	ul.navbar-list {
		display: flex;
		justify-content: space-around;
		font-size: 1.25rem;
		font-weight: bolder;
		padding-top: 100px;
				
	}

	a.logo {
		flex: 1;
	}

	nav.navbar {
		flex: 2;
	}
}
/* Form css */
body {
	margin:0px;
	font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
	color: var(--black);
	padding: 50px 0;
  }
  
  .container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .container * {
	box-sizing: border-box;
	border: #777;
  }
  
  .flex-outer,
  .flex-inner {
	list-style-type: none;
	padding: 0;
  }
  
  .flex-outer {
	max-width: 800px;
	margin: 0 auto;
	border-color: var(--black);
  }
  
  .flex-outer li,
  .flex-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  }
  
  .flex-inner {
	padding: 0 8px;
	justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
	margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
	padding: 8px;
	/* font-weight: 300; */
	letter-spacing: .09em;
	text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
	flex: 1 0 120px;
	max-width: 220px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
	flex: 1 0 220px;
  }
  
  .flex-outer li p {
	margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
	padding: 10px;
	border: .5px solid var(--black);
	border-radius: 10px;
  }

  .flex-outer li button {
	padding: 8px 16px;
	border: 2px solid;
	background: var(--beige);
	color: var(--black);
	text-transform: uppercase;
	letter-spacing: .09em;
	border-radius: 2px;

  }
  
  .flex-inner li {
	width: 100px;
  }

/*Index Page */
.index-main img{
	width: 500px;
	height: 600px;
	border-radius: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* login page */
.form-fields li {
	display: flex;
	flex: 1 100px;
	text-align: right;
	text-transform: uppercase;
	justify-content: center;
	margin: 10px;
	width: 75%;
  }
  
  .form-fields > li > label,
  .form-fields > li > label + * {
	flex: 1 0 100px;
  }
  
  .form-fields > label {
	padding: 0.1em 1em 0.1em 0;
  }

  .form-fields li input,
  .form-fields li textarea {
	padding: 10px;
	border: .5px solid var(--black);
	border-radius: 10px;
  }


  .form-fields > li:not(:last-child) {
	margin-bottom: 20px;
  }

  .form-fields li button{
	display: flex;
	padding: 8px 16px;
	border: 2px solid;
	background: var(--beige);
	color: var(--black);
	text-transform: uppercase;
	letter-spacing: .09em;
	border-radius: 2px;		 
}

/* Footer CSS */
.footer{
	display:flex;
	margin-top: 100px;
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	position:relative;
	width: 100%;
	border-top: 5px solid var(--black);
	margin:0px;
	
}
.footer img{
	width:200px;
	height:50px;	
}
i{
	margin: 20px; 
	color: var(--logo-2) 
  }

 .copyright{
	 font-weight: 350;
	 
	
 } 
.slogan{
	font-family:cursive;
	font-style: italic;
} 

/* Activities: Image Effect */
