<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>
    <div class="mainpage">
        <h1>ABOUT MOM'S BARN</h1>
        <p>This site was created out of a need to bring mothers of all ages, status, socio-economic background, education and cultural norms together to foster a bond of shared values synonymous with mothers.
        <br><br>   
        
        No mother knows it all when it comes to nurture and motherhood. Some have it easy while for others it is a daily struggle to make it through the day without the feeling of guilt.
        <br><br>
        
        Regardless of where you fall in the spectrum there is a place for you here. This is a judgement-free zone and all views and opinions are valid and respected welcome to Mom’s Barn.
        </p>
    </div>
    <div class="damz_video">
        <h2>A Mom's Bants</h2>
        <p>Mom's of all ages go through a lot and when you are a mother to toddlers, the challenges can be be overwhelming. Finding in peace and escaping to a happy place become necessary to maintain ones mental health.
        <br><br>
        Listen to Damz, a mother of 2, sharing her story of the challenges of being pregnant during a pandemic. She runs a regular YouTube channel where she banters and shares about being a mom: the joy, the travails and the victories.
        </p>
    <div class="damz-video-whole">
            <video controls>
                <source src="/images/mom_life.mp4">
            </video>
    </div> 
    </div>   
    <%- include('../partials/footer') -%>