<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>
    <h1>ACTIVITIES</h1>
    <div class="row">
        <div class="column">
          <img src="/images/baking.jpg" alt="baking" > 
          <p> Let's bake together</p>
        </div>
        <div class="column">
          <img src="/images/crochet.jpg" alt="Crochet">
          <p>Crochet & Knitting</p>
        </div>
        <div class="column">
          <img src="/images/fin_planning.jpg" alt="fin-planning">
          <p> Money my Money </p>
        </div>
        <div class="column">
            <img src="/images/Fitness.jpg" alt="fitness">
            <p>Whip me to Shape</p>
        </div>
        <div class="column">
            <img src="/images/blogging.jpg" alt="blogging">
            <p> Blogger's club</p>
        </div>
    </div>
    <br>
    <%- include('../partials/footer') -%>