<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>


    <h1>Welcome to Mom's Barn</h1>
    <div class="index-main">
        <img src="/images/mom_avodah_2.jpg" alt="mom_avodah" >
    </div>
    <div class="index-main">
        <img src="/images/mom_son.jpg" alt="mom_avodah" >
    </div>
    <div class="index-main">
        <img src="/images/mom_daughter.jpg" alt="mom_avodah" >
    </div>
    <div class="index-main">
        <img src="/images/mom_child_1.jpg" alt="mom_avodah" >
    </div>
    <br>
   
 <%- include('../partials/footer') -%>
